<div class="sidenav-header">
  @if(sideNavCollapsed()) {
    <img ngSrc="assets/img/eu_fundo_branco.png"
         [width]="profilePicSize()"
         [height]="profilePicSize()"
         alt="Imagem">
  } @else {
    <img ngSrc="assets/img/eu_fundo_branco.png"
         [width]="profilePicSize()"
         [height]="profilePicSize()"
         alt="Imagem">
  }
  <div class="header-text" [class.hide-header-text]="sideNavCollapsed()">
    <h2>Homem de Ferro</h2>
    <p>Tony Stark</p>
  </div>
</div>
<mat-nav-list>
  @for (item of menuItems(); track item.label) {
    <app-menu-item [item]="item" [collapsed]="sideNavCollapsed()"></app-menu-item>
  }
</mat-nav-list>
